<div class="row">
  <div class="col-lg-12">
    <div class="main-title">
      <h6>Upload Details</h6>
    </div>
  </div>
  <div class="col-lg-2">
    <!-- <div class="imgplace"></div> -->
    <div>
      <!-- autoplay="autoplay" -->
      <video
        id="playerVideo"
        class="w-100 h-160-px"
        controls
        src="{{ postData?.streamname }}"
      ></video>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="osahan-title">{{ uploadVideoData.file.name }}</div>
    <div class="osahan-size">
      {{ videoSize | number : "1.2-2" }} .
      {{ postData.videoduration | timeDuration }}
    </div>
    <!-- <div class="osahan-progress">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          [style.width]="uploadProgress + '%'"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="osahan-close">
        <a><i class="fas fa-times-circle"></i></a>
      </div>
    </div> -->
    <!-- <div class="osahan-desc">{{ uploadStatus }}</div> -->
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="osahan-form">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="e1"
              >Video Title (max 50 characters)<span class="text-danger"
                >*</span
              ></label
            >
            <input
              type="text"
              placeholder="enter video title"
              id="e1"
              class="form-control"
              [(ngModel)]="postData.albumname"
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="e2"
              >Video Description (max 500 characters)<span class="text-danger"
                >*</span
              ></label
            >
            <!-- <textarea
              rows="3"
              id="e2"
              name="e2"
              placeholder="enter video description"
              class="form-control"
              [(ngModel)]="postData.postdescription"
            ></textarea> -->
            <app-tag-user-input
              placeholder=""
              [value]="postMessageInputValue"
              (onDataChange)="onTagUserInputChangeEvent($event)"
            />
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label for="e1"
              >Upload Thumbnail<span class="text-danger">*</span></label
            >
            <div *ngIf="!postData?.thumbfilename">
              <fa-icon
                [icon]="['fas', 'file-upload']"
                class="text-primary cursor font-24-px"
                (click)="uploadImage.click()"
              />
              <input
                #uploadImage
                class="d-none"
                type="file"
                id="fileInput"
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </div>
          </div>
          <ng-container *ngIf="postData?.thumbfilename">
            <div class="position-relative w-100-px h-100-px">
              <img
                loading="lazy"
                data-src="{{ postData?.thumbfilename }}"
                class="w-100 h-100 rounded-4"
                alt="icon"
                onerror="this.onerror=null;"
              />
              <fa-icon
                [icon]="['fas', 'xmark']"
                class="position-absolute top-0 start-100 translate-middle badge bg-danger p-1 font-12-px c-pointer c-icon-color"
                role="button"
                (click)="removePostSelectedFile()"
              />
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="osahan-area text-center mt-5">
      <button
        class="btn btn-outline-primary float-end"
        (click)="onSaveClick()"
        [disabled]="!this.postData.thumbfilename"
      >
        Post Video
      </button>
    </div>
    <!-- <div class="terms text-center">
      <p class="mb-0">
        There are many variations of passages of Lorem Ipsum available, but the
        majority
        <a>Terms of Service</a> and <a>Community Guidelines</a>.
      </p>
      <p class="hidden-xs mb-0">
        Ipsum is therefore always free from repetition, injected humour, or non
      </p>
    </div> -->
  </div>
</div>
